<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <title>Aao Khao Jao</title>
<style>
    .home{
         position: fixed; /* or absolute */
        top: 0%;
        left: 85%;
}

    .corner {
  position: fixed; /* or absolute */
  top: 0%;
  left: 90%;
}

    .goback{
  position: fixed; /* or absolute */
  top: 90%;
  left: 75%;
}
.container{
  position: fixed; /* or absolute */
  top: 90%;
  left: 90%;
}

    body {
    background-color:#4CAF50 ;
}
.corner {
  position: fixed; /* or absolute */
  top: 0%;
  left: 90%;
}

    #items{
         position: fixed;
        left: 10%;
    }

    #price{
          position: fixed;
        left: 30%;
    }

    #qunatity{
          position: fixed;
        left: 50%;
    }
</style>
</head>
<body >
<h1>Aao Khao Jao App</h1>

  
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js" type="text/javascript"></script>
  


<div id="listid">
<script id="restaurantTemplate" type="text/template">
<table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <td><div class="text-center" id="view"><strong><p><%= name %></p>
              <p ><%= location %></p></strong></div></td>
            </tr>
          </tbody>
</table>
</script>
</div><br>


<div id="itemdiv">
    <script id="menuTemplate" type="text/template">
  <table type="hidden" border="0" class="table table-hover table-bordered" id="menus">
            <tr>
            <td><div class="text-center" id="items"><strong><%= item %></strong></div></td>
            <td><div class="text-center" id="price"><strong><%= price %></strong></div></td>
                <td><div class="add-to-cart">
        <div class="quantity-adder pull-left">
			<div class="quantity-number pull-left" id="qunatity">
				<label for="qty">Qty:</label>
				<input type="number" class="input-text qty" title="Qty" value="0" maxlength="12" id="qty" name="qty">
			</div>
            <input type="hidden" value="" size="2" name="product_id">
		</div>
    </div></td>
            </tr>
</table>
<div class="goback">
  <button class="btn btn-warning" onclick="location.href='https://aaokhaojaoapp.herokuapp.com/AaoKhaoJao/allrestaurants/';">Choose a different Restaurant</button>
</div>
  <div class="container">
  <button class="btn btn-warning" onclick="location.href='https://aaokhaojaoapp.herokuapp.com/AaoKhaoJao/confirmorder';">Place Order</button>
</div>

</script>

    <div class="corner">
        <button class="btn btn-warning" onclick="location.href='https://aaokhaojaoapp.herokuapp.com/AaoKhaoJao/logout/'">Logout</button>
    </div>



</div>

<div class="home">
        <button class="btn btn-warning" onclick="location.href='https://aaokhaojaoapp.herokuapp.com/AaoKhaoJao/secondpage/'">Home</button>
    </div>
<script>
    var Restaurants = Backbone.Model.extend({
    defaults: {
        name: 'Empty',
        location: 'Kachiguda',
        id: null
    }
});

var Menu = Backbone.Model.extend({
    defaults: {
        item: 'No Item',
        price: 0,
        restaurant_id: '-1'
    }
});


var RestaurantCollection = Backbone.Collection.extend({
    model: Restaurants,
    url: 'https://aaokhaojaoapp.herokuapp.com/AaoKhaoJao/api/restaurantlist/'
});

var MenuCollection = Backbone.Collection.extend({
    model: Menu,
    url: 'https://aaokhaojaoapp.herokuapp.com/AaoKhaoJao/api/menu/'

});

var RestaurantcollView = Backbone.View.extend({
    tagName: 'ol',

    initialize: function() {
        //this.collection.on('add', this.addOne, this);
        // this.list = $('#listid') // listeners/anouncers for the collection on add..
        // console.log(this.collection);
        var self = this
        this.collection.fetch({
            success: function(collection, response, options) {
                self.render();
            },
            error: function(model, responce, options) {
                console.log(options.xhr);
            }
        });

    },
    render: function() {
        this.collection.each(function(restaurants) {
            var personView = new RestaurantView({
                model: restaurants
            });
            this.$el.append(personView.render().el);
        }, this);
        //console.log(this)
        return this;
    }
});

var RestaurantsColl = new RestaurantCollection;
var Menus = new MenuCollection;

var InFetchView = Backbone.View.extend
({
    el: ('#itemdiv'),
    initialize: function() {
        var url = Backbone.history.getFragment();
        var index = url.indexOf("/");
        var id = url.slice(index + 1);
        var xyz = Menus.where({
            'restaurant_id': parseInt(id)
        });
        for (var i = 0; i < xyz.length; i++) {
            var printView = new MenuView({
                model: xyz[i]
            });
            this.$el.append(printView.render().el);
        };
        return this
    }
})

var MenucollView = Backbone.View.extend({
    tagName: 'ol',

    initialize: function()
    {
        var self = this
        this.collection.fetch({
            success: function(collection, response, options) {
                //console.log("hello")
                self.render();
                var IFV = new InFetchView();
                return this

            },
            error: function(model, responce, options) {
               // console.log(options.xhr);
            }
        });

    },

    render: function() {
        this.collection.each(function(menu) {
            var menView = new MenuView({
                model: menu
            });
            this.$el.append(menView.render().el);
        }, this);
        return this;
    }
});

var RestaurantView = Backbone.View.extend({
    tagName: 'ol',


    template: _.template($('#restaurantTemplate').html()),
    editingTemplate: _.template('<input class="name" value="<%= name %>" />\
        <input class="location" value="<%= location %>"<br><button id="save">Save</button><br>'),


    initialize: function() {
        this.model.on('change', this.render, this);
        //this.render();
        this.model.on('destroy', this.remove, this);
    },

    render: function() {
        //console.log(this.model)
        this.$el.html(this.template(this.model.toJSON()));
        return this;
    },

    events: {
        'click #view': 'showAlert',
    },

    showAlert: function() {
        $("#maindiv").hide();
        $("#listid").hide();
        //alert("You clicked me");
        router.navigate("show/" + this.model.get('id'), trigger = true)
    },

})

var MenuView = Backbone.View.extend({
    tagName: 'ol',


    template: _.template($('#menuTemplate').html()),
    editTemplate: _.template('<input class="item" value="<%= item %>" />\
        <input class="price" value="<%= price %>"<br><button id="savecomp">Save</button><br>'),

    initialize: function(options) {
        //this.render();
        //console.log("id of contact selected ", options.model.id);
        this.model.on('change', this.render, this);
        this.model.on('destroy', this.remove, this);
    },

    render: function() {
       // console.log(this.model)
        this.$el.html(this.template(this.model.toJSON()));
        return this;
    },
})



var AppItemView = Backbone.View.extend({
    el: ('#itemdiv'),
    initialize: function() {

    },
    render: function() {
        $("#maindiv").hide();
        $("#listid").hide();

        var itemView = new MenucollView({
            collection: Menus
        });
        //itemView.initialize()

    },
});

var Router = Backbone.Router.extend({
    // el:('#maindiv'),
    routes: {
        '': 'index',
        'show/:id': 'show'
    },
    show: function(id) {
        var AIV = new AppItemView({
            collection: Menus
        })
        AIV.render();
        //location.reload(true);
    }
});
var AppView = Backbone.View.extend({

    el: ('#listid'),

    initialize: function() {

    },

     render: function() {
        //this.$el.empty();
        var listView = new RestaurantcollView({
            collection: RestaurantsColl
        });
        //console.log("in render");
        this.$el.append(listView.render().el);
     },
});



var App = new AppView;
App.render();
var router = new Router();
Backbone.history.start();
</script>
</body>
</html>
