<!DOCTYPE html>
<html lang="en">
<head>
  <title>WELCOME</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style1.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
      <div id="header" class="centered">
      <button class="btn btn-info center-block" onclick="location.href='https://aaokhaojaoapp.herokuapp.com/AaoKhaoJao/register/';">Register with us</button><br>
      <button class="btn btn-info center-block" onclick="location.href='https://aaokhaojaoapp.herokuapp.com/AaoKhaoJao/login/';">Login</button><br>
    </div>
</body>
</html>