
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signin for Aao Khao Jao</title>

  </head>


    <body>
        <h1>Sign in to Aao Khao Jao</h1>

        <form id="login_form" method="post" action="/AaoKhaoJao/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        </form>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="location.href='https://aaokhaojaoapp.herokuapp.com/AaoKhaoJao/register/';">Not a Member Sign Up Here</button>
    </body>
</html>