<!DOCTYPE html>
<html lang="en">
<head>
  <title>WELCOME</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style2.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="header" class="centered">
      <button class="btn btn-info center-block" onclick="location.href='https://aaokhaojaoapp.herokuapp.com/restaurants';">Manage your Restaurants</button><br>
      <button class="btn btn-info center-block" onclick="location.href='https://aaokhaojaoapp.herokuapp.com/allrestaurants';">View All restaurants</button><br>
    </div>

    <div class="corner">
        <a href="http://127.0.0.1:8000/AaoKhaoJao/logout/">Logout</a>
    </div>
</body>
</html>